@using SuperMarket.Domain.Models;
@model List<ProductModel>;

<div>
	<div class="d-flex justify-content-between mb-4">
		<div><h2>Product List</h2></div>
		<div class="align-self-center">
			<a asp-controller="Product" asp-action="Create" class="btn text-white" style="background-color:#F9821C"><i class="bi bi-plus-circle"></i> Create </a>
		</div>
	</div>

	<div class="w-100 border border-1 rounded-2 shadow-lg">
		<table id="table" class="table table-striped m-0">
			<thead>
				<tr>
					<td><strong>S.No</strong></td>
					<td><strong>Product Name</strong></td>
					<td><strong>Quantity</strong></td>
					<td><strong>MRP Price (Rs.)</strong></td>
					<td><strong>Discount (%)</strong></td>
					<td><strong>Discount Price (Rs.)</strong></td>
					<td class="text-center"><strong>Action</strong></td>
				</tr>
			</thead>
			<tbody>
				@if (Model.Count > 0)
				{
					int ListCount = 1;
					@foreach (var items in Model)
					{
						decimal DiscountPrice = 0;
						if (items.Discount > 0)
						{
							DiscountPrice = Math.Round(items.Price - (items.Price * ((decimal)items.Discount / 100M)), 2);
						}
						else
						{
							DiscountPrice = items.Price;
						}
						<tr>
							<td>@(ListCount++)</td>

							<td>@items.Name</td>
							<td>@items.Quantity</td>
							<td><i class="bi bi-currency-rupee"></i>@items.Price</td>
							<td>@items.Discount %</td>
							<td><i class="bi bi-currency-rupee"></i>@DiscountPrice</td>
							<td class="text-center">
								<a asp-controller="Product" asp-action="Edit" asp-route-id="@items.id" class="btn btn-sm btn-secondary me-2"><i class="bi bi-pencil-square"></i></a>
								<a asp-controller="Product" asp-action="Delete" asp-route-id="@items.id" class="btn btn-sm btn-danger"><i class="bi bi-trash-fill"></i></a>
							</td>
						</tr>
					}
				}
				else
				{
					<tr><td colspan="8" style="color:#F9821C" class="text-center fw-bold">NO DATA FOUND</td></tr>
				}
			</tbody>
		</table>
	</div>
</div>

@section Scripts {
	<script>
		$('.table').DataTable();
	</script>
}